.container {
    text-align: left;
    display: grid;
    align-items: flex-start;
    padding: 0;
  }
  
  p {
    margin: .25rem 0;
    color: #2e211b;
  }

  h2 {
    margin: .5rem 0;
    color: #9d5523;
  }